<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab_1" data-toggle="tab">部门信息</a></li>
        <li><a href="#tab_2" data-toggle="tab">组织机构</a></li>
        <li><a href="#tab_3" data-toggle="tab">Tab 3</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>部门编号</td>
                                <td>部门名称</td>
                                <td>组别名称</td>
                                <td>部门编号</td>
                                <td>更新</td>
                                <td>删除</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_2">
            The European languages are members of the same family. Their separate existence is a myth.
            For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
            in their grammar, their pronunciation and their most common words. Everyone realizes why a
            new common language would be desirable: one could refuse to pay expensive translators. To
            achieve this, it would be necessary to have uniform grammar, pronunciation and more common
            words. If several languages coalesce, the grammar of the resulting language is more simple
            and regular than that of the individual languages.
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
            sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
            like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <!-- /.tab-pane -->
    </div>
    <!-- /.tab-content -->
</div>
<!-- nav-tabs-custom -->
<div class="example-modal">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    <!-- /.box-header -->
                    <!-- form start -->
                    <div class="box-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label">名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="groups" class="col-sm-2 control-label">组</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="groups"></select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-footer -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>



<div class="example-modal">
    <div class="modal" id="myDeleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Default Modal</h4>
                </div>
                <div class="modal-body">
                    你确定删除吗?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="deleteBtn">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
@section Scripts{
    <script>
        (function($) {
            var dt = {};

            $(function() {
                dt = $("#example1")
                    .DataTable({
                        ajax: {
                            type: 'POST',
                            url: liuyang + '/api/Department/GetDepartmentsByPage',
                            data: function(d) {
                                console.log(d);
                                return { start: d.start, length: d.length, search: d.search.value };
                            },
                            dataSrc: function(json) {
                                return json.data;
                            }
                        },
                        serverSide: true,
                        columnDefs: [
                            {
                                targets: [-1, -2],
                                orderable: false
                            },
                            {
                                targets: [1, 2, 3],
                                orderData: [0, 1, 2] //会传送3个排序字段和方式和数据
                            }
                        ],
                        columns: [
                            { data: "departmentID" },
                            { data: "name" },
                            { data: 'groupName' },
                            { data: 'modifiedDate' },
                            {
                                data: "departmentID",
                                render: function(data, type, row, meta) {
                                    return '<a href="#"  data-toggle="modal" data-target="#myModal" data-whatever="' +
                                        data +
                                        '">更新</a>';
                                }
                            },
                            {
                                data: 'departmentID',
                                render: function(data) {
                                    return '<a href="#"  data-toggle="modal" data-target="#myDeleteModal" data-whatever="' +
                                            data +
                                            '">删除</a>';
                                }
                            }
                        ]
                    });
            });

            $(function() {
                $('#myModal')
                    .on('show.bs.modal',
                        function(event) {
                            var id = $(event.relatedTarget).data('whatever');
                            $.ajax({
                                type: 'GET',
                                url: liuyang + '/api/Department/GetDepartmentById?departmentId=' + id,
                                success: function(data) {
                                    console.log(data);
                                }
                            });
                            $.ajax({
                                type: 'POST',
                                url: liuyang + '/api/Department/GetGroups',
                                success: function(data) {
                                    for (var i = 0; i < data.length; i++) {
                                        $('#groups').append('<option>' + data[i].groupName + '</option>');
                                    }
                                }
                            });
                        })
                    .on('hidden.bs.modal',
                        function(event) {
                            console.log(event);
                        });
            });

            $(function() {
                $('#myDeleteModal')
                    .on('show.bs.modal',
                        function(event) {
                            $('#deleteBtn')
                                .click(function() {
                                    var id = $(event.relatedTarget).data('whatever');
                                    $.ajax({
                                        type: 'GET',
                                        url: liuyang + '/api/Department/DeleteDepartmentById?departmentId=' + id,
                                        success: function(data) {
                                            $('#myDeleteModal').modal('hide');
                                            dt.ajax.reload();
                                        }
                                    });
                                });
                        });

            });

        })($);
    </script>
}